<footer class="app-footer">
    <div class="container footer-content">
        <div class="footer-logo">
            <div class="logo-placeholder stis">
                <span class="logo-badge blue"></span>
                <span>POLITEKNIK STATISTIKA STIS</span>
            </div>
        </div>
        <div class="footer-logo">
            <div class="logo-placeholder bps">
                <span class="logo-badge orange"></span>
                <span>BADAN PUSAT STATISTIK</span>
            </div>
        </div>
    </div>
</footer>