<header>
    <div class="container header-content">
        <div class="logo" [routerLink]="['/']">
            <div class="logo-icon-placeholder">
                <!-- Placeholder for the pie chart character icon -->
                <div class="pie-chart-icon">
                    <div class="slice1"></div>
                    <div class="slice2"></div>
                </div>
            </div>
            <span class="logo-text">StatLegend</span>
        </div>

        <div class="actions">
            @if (authService.isLoggedIn()) {
                <button class="btn-dashboard" [routerLink]="['/learning']">DASHBOARD</button>
                <button class="btn-signout" (click)="logout()">SIGN OUT</button>
            } @else {
                <button class="btn-signin" [routerLink]="['/login']">SIGN IN</button>
            }
        </div>
    </div>
</header>