<div class="sidebar-header">
    <div class="logo">
        <div class="logo-icon-placeholder small">
            <div class="pie-chart-icon">
                <div class="slice-red"></div>
                <div class="slice-yellow"></div>
            </div>
        </div>
        <span class="logo-text">StatLegend</span>
    </div>
</div>

<nav>
    <ul>
        <li>
            <a routerLink="/learning" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="icon">💡</span>
                <span>PEMBELAJARAN</span>
            </a>
        </li>
        <li>
            <a routerLink="/publikasi" routerLinkActive="active">
                <span class="icon">📑</span>
                <span>PUBLIKASI</span>
            </a>
        </li>
        <li>
            <a routerLink="/brs" routerLinkActive="active">
                <span class="icon">📊</span>
                <span>BRS</span>
            </a>
        </li>
        <li>
            <a routerLink="/peringkat" routerLinkActive="active">
                <span class="icon">🏆</span>
                <span>PERINGKAT</span>
            </a>
        </li>
        <li>
            <a routerLink="/misi" routerLinkActive="active">
                <span class="icon">🎯</span>
                <span>MISI</span>
            </a>
        </li>
        <li>
            <a routerLink="/profil" routerLinkActive="active">
                <span class="icon">👤</span>
                <span>PROFIL</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin" routerLinkActive="active">
                <span class="icon">⚙️</span>
                <span>ADMIN</span>
            </a>
        </li>
    </ul>
</nav>

<div class="sidebar-footer">
    <button class="btn-signout" (click)="onLogout()">
        <span class="icon">🚪</span>
        <span>SIGN OUT</span>
    </button>
</div>